body{
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 1em;

}
h1{
    margin-top: 80px;
    font-family: 'kaushan Script',cursive;
    color:white;
}
header{
    /* display: inline-flex; */
 
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
}
header a{
    color:white;
    display: inline-block;
}
header a:hover{
    color: yellow;
    
}
.offre{
    background-color: rgba(255, 255, 255, 0.2);
    padding:10px 0;
    color:white;
    margin-top: 0;
}
.lien{
    margin: 20px;
    text-decoration: none;
}
.lien i{
    display: block;
}
h2{
    text-decoration: none;
    font-size: 2em;
    font-family: 'kaushan Script',cursive;
}
.navigation {
    background-image: url(img/fond.jpg);
    height: 500px;
    background-size: cover;
    /* background-attachment: fixed; */

}
.navigation .fa{
    margin: 1px;
}

.table1 .thead{
    background-color: rgb(196, 165, 222);
}
 th{
   
    font-size: 1.6em;
    font-family: 'kaushan Script',cursive;
}

table{
    border-collapse:collapse;
    width: 90%;
    margin:0 auto;
}
td{
    font-family: 'Playfair Display', serif;
}
th,td{
    border:1px solid black;
}
.last{
    background-color: rgb(139, 91, 193);
    color: white;
    text-decoration: none;
    padding: 5px;
}
fieldset{
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
}
select{
    width: 90%;
}

footer{
    background-color: rgb(141, 111, 209);
    margin-top: 30px;
    text-decoration: none;color: white;}